<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uzbekistan Weather Web Site</title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="website icon" href="/static/logo.png">
    <style>
        #secret {
            color: #353;
            text-decoration: none;
        }
        #secret:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar">
            <a href="api" id="secret">api</a>
            <div class="container">
                <a href="#"><h1>O'zbekiston Ob Havosi</h1></a>
            </div>
        </nav>
    </header>
    <main>
        <div class="places">
            <span class="for-padding"><a href="toshkent" class="toshkent">toshkent</a></span>
            <span class="for-padding"><a href="andijon" class="andijon">andijon</a></span>
            <span class="for-padding"><a href="samarqand" class="samarqand">samarqand</a></span>
            <span class="for-padding"><a href="buxoro" class="buxoro">buxoro</a></span>
            <span class="for-padding"><a href="jizzax" class="jizzax">jizzax</a></span>
            <span class="for-padding"><a href="farg'ona" class="farg'ona">farg'ona</a></span>
            <span class="for-padding"><a href="qashqadaryo" class="qashqadaryo">qashqadaryo</a></span>
            <span class="for-padding"><a href="qarshi" class="qarshi">qarshi</a></span>
            <span class="for-padding"><a href="surxondaryo" class="surxondaryo">surxondaryo</a></span>
            <span class="for-padding"><a href="navoiy" class="navoiy">navoiy</a></span>
            <span class="for-padding"><a href="nukus" class="nukus">nukus</a></span>
        </div>
    </main>
</body>
</html>