<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jordon Ob havosi</title>
    <link rel="stylesheet" href="/static/place-style.css">
</head>
<body>
    <main>
        <div class="container">
            <h1 class="title">Jordon Ob Havosi</h1>
            <div class="box">
                <h3 class="telling-the-weather">O'rtacha harorat</h3>
                <span class="weather">{{ weather }}</span>
            </div>
        </div>
    </main>
</body>
</html>v